body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f9;
}

.navbar {
    background: #1e3a8a;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.top-header {
    text-align: center;
    padding: 10px;
    background: #2d4aa0;
    color: white;
}

.card {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.cta {
    text-align: center;
    margin: 30px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.form-card {
    background: white;
    padding: 30px;
    width: 300px;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.success {
    text-align: center;
    margin-top: 100px;
}
